<h1>WHO WE ARE?</h1>

<p style='margin-top:30px;'>
	Aritveria.com is a joint venture of an American company Artiveria LLC and of its sister company Artiveria Ltd. based in Tbilisi, Georgia.<br/><br/>
	Our aim is to promote Georgian Art and Culture by providing Georgian artists, artisans and craftsmen with an access to the worldwide ecommerce marketplace through our online store.<br/><br/>
	Georgian art has evolved for millennia. With roots in rich archaic and ethnic tradition, Georgian art has grown along with the development of the Georgian statehood, starting from the ancient kingdoms of Kolkhis and Iverians. The location of Georgia on the crossroads of Asia and Europe has defined the country's cultural and artistic environment throughout its history.<br/><br/>
	Georgia is a fertile ground for countless number of most remarkably talented artists whose works speak for themselves from the pages of Artiveria.com<br/><br/>
</p>