<h1>OUR CONTACT INFORMATION:</h1>

<h4 style='font-weight:bold; margin-top:30px;'>Artiveria LLC.</h4>

<h4 style='margin-top:20px;'>EMAIL: &nbsp; info@artiveria.com<br/>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;customerservice@artiveria.com</h4> 

<h4 style='margin-top:20px;'>PHONE NUMBER: 1-703-531-8884</h4>