<p style='font-weight:bold; font-size:150%;'>Update Your Contact information and Shipping Address:</p>

<div class='container'>
	<div class='row'>
		<div class='col-md-4' style='border:solid; border-width:1px; padding:15px;'>
			<%= render 'form' %>
		</div>
	</div>
</div>