<div id='likes' style='width:100%; text-align:right;'>
	<% unless current_user.likes.find_by(:item_id => @item.id).present? %>
  		<%= link_to likes_path(like: {:item_id => @item.id}), style: 'text-decoration:none; color:#484848;', method: :post, remote: true do %>
  			<button class='btn btn-default' style='width:100%; text-align:center; margin-top:10px'>
		  		<i class="fa fa-heart fa-lg" style='color:#c0392b;'></i> Add To Favorites
		  	</button>
		<% end %>
	<% else %>
  		<%= link_to like_path(current_user.likes.find_by(:item_id => @item.id)), style: 'text-decoration:none; color:#484848;', method: :delete, remote: true do %>
  			<button class='btn btn-default' style='width:100%; text-align:center; margin-top:10px'>
		  		<i class="fa fa-heart fa-lg" style='color:#484848;'></i> Remove From Favorites
		  	</button>
		<% end %>
	<% end %>
</div>