<div style='width:100%; text-align:center; background-color:white; color:black;'>
	<a id='backtotop' href='javascript:void(0)' style='display:none; text-decoration:none; color:black; font-weight:bold;'><i class="fa fa-caret-square-o-up" style='color:black;'></i> BACK TO TOP <i class="fa fa-caret-square-o-up" style='color:black;'></i></a>
</div>
<div id='footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-2 footer-col col-md-offset-1'>
				<h5 style='font-weight:bold;'>PRODUCTS</h5>
				<p>PAINTINGS</p>
				<p>ENAMEL</p>
				<p>TEXTILES</p>
			</div>
			<div class='col-md-2 footer-col'>
				<h5 style='font-weight:bold;'>COMPANY</h5>
				<p>ABOUT US</p>
				<p>CONTACT US</p>
			</div>
			<div class='col-md-2 footer-col'>
				<h5 style='font-weight:bold;'>LEARN MORE</h5>
				<p>FAQ</p>
				<a href='#' data-toggle='modal' data-target='#terms' style='text-decoration:none; color:white;'>TERMS & POLICY</a>
			</div>
			<div class='col-md-2 footer-col'>
				<h5 style='font-weight:bold;'>CONNECT WITH US</h5>
				<i class="fa fa-facebook-square fa-2x" style='margin-right:5px;'></i>
				<i class="fa fa-twitter fa-2x" style='margin-right:5px;'></i>
				<i class="fa fa-pinterest fa-2x" style='margin-right:5px;'></i>
				<i class="fa fa-instagram fa-2x" style='margin-right:5px;'></i>
				<i class="fa fa-flickr fa-2x" style='margin-right:5px;'></i>
				<i class="fa fa-tumblr-square fa-2x"></i>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top:100px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="font-weight:700; text-align:center;">Terms & Policies</h4>
      </div>
      <div class="modal-body">

These Terms of Service ("Terms") govern your access to and use of Artiveria's website, products, and services. By accessing Artiveria's website, products, and services you agree to the Terms.<br/>

<h4>1. Privacy Policy</h4>

This Privacy Policy governs the manner in which ArtIveryia collects, uses, maintains and discloses information collected from users (each, a "User") of the www.artiveria.com website ("Site"). This privacy policy applies to the Site and all products and services offered by Artiveria.<br/><br/>

<strong>Personal identification information</strong><br/><br/>

We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, place an order, subscribe to the newsletter, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, credit card information, social security number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.<br/><br/>

<strong>Non-personal identification information</strong><br/><br/>

We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.<br/><br/>

<strong>Web browser cookies</strong><br/><br/>

Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.<br/><br/>

<strong>How we use collected information</strong><br/><br/>

ArtIveryia may collect and use Users personal information for the following purposes:<br/><br/>
<li>To improve customer service<br/>
Information you provide helps us respond to your customer service requests and support needs more efficiently.<br/><br/></li>
<li>To personalize user experience<br/>
We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.<br/><br/></li>
<li>To improve our Site<br/>
We may use feedback you provide to improve our products and services.<br/><br/></li>
<li>To process payments<br/>
We may use the information Users provide about themselves when placing an order only to provide service to that order. We do not share this information with outside parties except to the extent necessary to provide the service.<br/><br/></li>
<li>To run a promotion, contest, survey or other Site feature<br/>
To send Users information they agreed to receive about topics we think will be of interest to them.<br/><br/></li>
<li>To send periodic emails<br/>
We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.<br/><br/></li>

<strong>How we protect your information</strong><br/><br/>

We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.<br/><br/>

<strong>Sharing your personal information</strong><br/><br/>

We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.<br/><br/>

<strong>Changes to this privacy policy</strong><br/><br/>

ArtIveryia has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site, revise the updated date at the bottom of this page and send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.

<h4>2. Return Policy</h4>

<h4>3. Liabilities</h4>
WE TRY TO KEEP OUR WEBSITE - ARTIVERIA.COM UP, BUG-FREE, AND SAFE, BUT YOU USE IT AT YOUR OWN RISK. WE ARE PROVIDING ARTIVERIA.COM AS IS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE DO NOT GUARANTEE THAT ARTIVERIA WILL ALWAYS BE SAFE, SECURE OR ERROR-FREE OR THAT ARTIVERIA.COM WILL ALWAYS FUNCTION WITHOUT DISRUPTIONS, DELAYS OR IMPERFECTIONS. ARTIVERIA IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES.<br/><br/>
TO THE MAXIMUM EXTENT PERMITTED BY LAW, ARTIVERIA SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE PRODUCTS; (B) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE PRODUCTS, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; OR (C) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL ARTIVERIA'S AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THIS WEBSITE.<br/><br/>
FOR ANY DISPUTE YOU HAVE WITH ARTIVERIA, YOU AGREE TO FIRST CONTACT US INFORMALLY AND ATTEMPT TO RESOLVE THE DISPUTE WITH US INFORMALLY.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
var toTop = function(){
	if ($(document).height() > $(window).height()){
		$('#backtotop').show();
		$('#backtotop').on('click', function(){
			$("html, body").animate({ scrollTop: 0 });
	  return false;
		});
	}
};

imagesLoaded( 'img', toTop);
</script>